/* screen - email-retrieval-access */

.arial-black-black-25px {
  color: var(--black);
  font-family: 'Arial-Black', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
}
.arial-bold-black-10px {
  color: var(--black);
  font-family: 'Arial-Bold', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
}
.arial-bold-black-12px {
  color: var(--black);
  font-family: 'Arial-Bold', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.arial-bold-black-16px {
  color: var(--black);
  font-family: 'Arial-Bold', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.arial-bold-black-24px {
  color: var(--black);
  font-family: 'Arial-Bold', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.arial-bold-onyx-10px {
  color: var(--onyx);
  font-family: 'Arial-Bold', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
}
.arial-normal-black-11px {
  color: var(--black);
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 11px;
}
.arial-regular-normal-black-10px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-11px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-12px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.email-retrieval-access {
  background-color: var(--white);
  height: 1300px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 600px;
}
.email-retrieval-access .about-slvm-ip-contact-iPe1yZ {
  background-color: transparent;
  height: 53px;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 152px;
}
.email-retrieval-access .access-O4i9ae {
  background-color: transparent;
  border: 0;
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 12px;
  padding: 0;
  position: absolute;
  resize: none;
  right: 9px;
  text-align: right;
  top: calc(40.00% - 7px);
  width: 64px;
}
.email-retrieval-access .access-O4i9ae::placeholder {
  color: rgba(58,58,58,0.6);
}
.email-retrieval-access .access-mem--retrieval-MBQHjy {
  background-color: transparent;
  height: calc(100.00% - 20px);
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  right: 19px;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 245px;
}
.email-retrieval-access .benefits-C61RwL {
  background-color: transparent;
  height: 129px;
  left: 35px;
  position: absolute;
  top: 617px;
  width: 532px;
}
.email-retrieval-access .body-text-3-C61RwL {
  background-color: transparent;
  height: 87px;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: left;
  top: 489px;
  width: 317px;
}
.email-retrieval-access .body-text-3-VMr6Om {
  background-color: transparent;
  height: 81px;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: left;
  top: 757px;
  width: 530px;
}
.email-retrieval-access .body-text-benefits-3dWUnz {
  background-color: transparent;
  height: 131px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: -4px;
  width: calc(100.00% - 15px);
}
.email-retrieval-access .body-text-benefits-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: left;
  top: 848px;
  width: 532px;
}
.email-retrieval-access .c-img-39vRy8 {
  background-color: transparent;
  height: calc(100.00% - 90px);
  left: 0px;
  position: absolute;
  top: 90px;
  width: 100%;
}
.email-retrieval-access .copyright--t-reserved-iPe1yZ {
  background-color: transparent;
  bottom: calc(48.32% - 8px);
  height: 17px;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 218px;
}
.email-retrieval-access .cta-conv-socials-iPe1yZ {
  background-color: transparent;
  height: 16px;
  left: calc(24.17% - 18px);
  position: absolute;
  top: calc(38.41% - 6px);
  width: 75px;
}
.email-retrieval-access .cultural-header-C61RwL {
  background-color: transparent;
  height: 411px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 600px;
}
.email-retrieval-access .cultural-img-9xRAXp {
  background-color: transparent;
  height: 163.24%;
  left: -4.00%;
  position: absolute;
  top: -60.75%;
  width: 113.83%;
}
.email-retrieval-access .cv-logo-blk-iPe1yZ {
  background-color: transparent;
  bottom: 34px;
  height: 51px;
  position: absolute;
  right: 38px;
  width: 159px;
}
.email-retrieval-access .exclusion-497-FCGBAl {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .exclusion-498-ZcLJ0z {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .exclusion-499-XRybJt {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .exclusion-500-Pu3Psy {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .exclusion-501-lNyGzg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .follow-us-iPe1yZ {
  background-color: transparent;
  height: 16px;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(38.72% - 6px);
  white-space: nowrap;
  width: 92px;
}
.email-retrieval-access .footer-C61RwL {
  background-color: transparent;
  height: 344px;
  left: 0px;
  position: absolute;
  top: 956px;
  width: 600px;
}
.email-retrieval-access .group-5-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 35px;
  position: absolute;
  top: 906px;
  width: 83px;
}
.email-retrieval-access .group-64-ZD8x1g {
  background-color: transparent;
  background-image: url(../img/twitter@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% - 3px);
  left: calc(43.10% - 7px);
  position: absolute;
  top: 2px;
  width: 17px;
}
.email-retrieval-access .group-65-ZD8x1g {
  background-color: transparent;
  background-image: url(../img/instagram-2@1x.png);
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 16px;
}
.email-retrieval-access .group-67-ZD8x1g {
  background-color: transparent;
  background-image: url(../img/facebook@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 8px;
}
.email-retrieval-access .header-tex-al-welcome-C61RwL {
  background-color: var(--white);
  height: 90px;
  left: 230px;
  position: absolute;
  top: 0px;
  width: 370px;
}
.email-retrieval-access .light-butt-ndary-icon-iZjIT4 {
  background-color: var(--glacier);
  border-radius: 24px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 25px;
}
.email-retrieval-access .mask-4joxuy {
  background-color: var(--endeavour);
  height: 100%;
  left: 0px;
  mix-blend-mode: multiply;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .mask-BdZdgq {
  background-color: var(--endeavour);
  height: 100%;
  left: 0px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .mask-group-51-BdZdgq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .member-number-O4i9ae {
  background-color: transparent;
  height: 17px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: calc(17.00% - 3px);
  width: 92px;
}
.email-retrieval-access .member-since-O4i9ae {
  background-color: transparent;
  bottom: calc(36.00% - 6px);
  height: 17px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 92px;
}
.email-retrieval-access .member-type-O4i9ae {
  background-color: transparent;
  height: 17px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: calc(40.00% - 7px);
  width: 92px;
}
.email-retrieval-access .memberdetails-C61RwL {
  background-color: var(--desert-storm);
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.161);;
  height: 117px;
  left: 401px;
  position: absolute;
  top: 440px;
  width: 173px;
}
.email-retrieval-access .path-1894-iPe1yZ {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .path-1895-iPe1yZ {
  background-color: transparent;
  bottom: 36.44%;
  height: 1px;
  left: 1px;
  position: absolute;
  width: 100%;
}
.email-retrieval-access .path-3dWUnz {
  background-color: transparent;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 12px;
}
.email-retrieval-access .path-5967-iPe1yZ {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  position: absolute;
  width: 100%;
}
.email-retrieval-access .path-C5rbhx {
  background-color: transparent;
  height: 10px;
  left: 0px;
  position: absolute;
  top: calc(34.45% - 3px);
  width: 12px;
}
.email-retrieval-access .path-EGNORR {
  background-color: transparent;
  bottom: 30.77%;
  height: 0px;
  left: calc(50.00% - 2px);
  position: absolute;
  width: 4px;
}
.email-retrieval-access .path-EaQtzG {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .path-FCGBAl {
  background-color: transparent;
  height: 2px;
  left: calc(50.00% - 3px);
  position: absolute;
  top: 1px;
  width: 6px;
}
.email-retrieval-access .path-Pu3Psy {
  background-color: transparent;
  bottom: 23.08%;
  height: 0px;
  left: calc(40.00% - 1px);
  position: absolute;
  width: 2px;
}
.email-retrieval-access .path-XRybJt {
  background-color: transparent;
  height: 5px;
  left: 1px;
  position: absolute;
  top: calc(50.00% - 2px);
  width: calc(100.00% - 2px);
}
.email-retrieval-access .path-XvLqLt {
  background-color: transparent;
  height: 10px;
  left: 0px;
  position: absolute;
  top: calc(17.65% - 2px);
  width: 12px;
}
.email-retrieval-access .path-ZcLJ0z {
  background-color: transparent;
  bottom: 1px;
  height: 4px;
  left: calc(50.00% - 3px);
  position: absolute;
  width: 6px;
}
.email-retrieval-access .path-dxGhoV {
  background-color: transparent;
  bottom: calc(48.74% - 5px);
  height: 10px;
  left: 0px;
  position: absolute;
  width: 12px;
}
.email-retrieval-access .path-lBbbYQ {
  background-color: transparent;
  bottom: calc(31.93% - 3px);
  height: 10px;
  left: 0px;
  position: absolute;
  width: 12px;
}
.email-retrieval-access .path-lNyGzg {
  background-color: transparent;
  height: 1px;
  position: absolute;
  right: 2px;
  top: 33.52%;
  width: 1px;
}
.email-retrieval-access .path-qkqyuI {
  background-color: transparent;
  bottom: 18px;
  height: 10px;
  left: 0px;
  position: absolute;
  width: 12px;
}
.email-retrieval-access .print-email-iZjIT4 {
  background-color: transparent;
  bottom: calc(38.64% - 5px);
  color: var(--royal-blue);
  font-family: 'Arial-Regular', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0.00px;
  line-height: 12.5px;
  position: absolute;
  right: -2px;
  text-align: left;
  white-space: nowrap;
  width: 54px;
}
.email-retrieval-access .rectangle-2-copy-5-iPe1yZ {
  background-color: var(--white);
  height: 220px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.email-retrieval-access .rectangle-317-iPe1yZ {
  background-color: var(--white);
  bottom: 0px;
  height: 123px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.email-retrieval-access .rewar-body-C61RwL {
  background-color: transparent;
  height: 40px;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 586px;
  width: 530px;
}
.email-retrieval-access .shape-iZjIT4 {
  background-color: transparent;
  height: calc(100.00% - 12px);
  left: 6px;
  position: absolute;
  top: 6px;
  width: 12px;
}
.email-retrieval-access .slv-logo-blk-iPe1yZ {
  background-color: transparent;
  bottom: 36px;
  height: 52px;
  left: 35px;
  position: absolute;
  width: 208px;
}
.email-retrieval-access .slv-logo-wht-gNKtJh {
  background-color: transparent;
  height: 40px;
  left: 27px;
  position: absolute;
  top: calc(46.00% - 18px);
  width: 158px;
}
.email-retrieval-access .slv-logostudent-39vRy8 {
  background-color: transparent;
  background-image: url(../img/path-1-1@1x.png);
  background-size: 100% 100%;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 226px;
}
.email-retrieval-access .span0-6sEWQJ {
  color: rgba(0,0,0,1.0);
  font-family: 'Arial-Regular', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.email-retrieval-access .span1-6sEWQJ {
  color: rgba(60,111,240,1.0);
  font-family: 'Arial-Regular', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.email-retrieval-access .span2-6sEWQJ {
  color: rgba(0,0,0,1.0);
  font-family: 'Arial-Regular', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.email-retrieval-access .state-libr-ommunities-iPe1yZ {
  background-color: transparent;
  height: 153px;
  letter-spacing: 0.00px;
  line-height: 11.5px;
  position: absolute;
  right: 34px;
  text-align: left;
  top: 33px;
  width: 267px;
}
.email-retrieval-access .valid-to-O4i9ae {
  background-color: transparent;
  bottom: 13px;
  height: 17px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 92px;
}
.email-retrieval-access .x0012345-O4i9ae {
  background-color: transparent;
  border: 0;
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 12px;
  padding: 0;
  position: absolute;
  resize: none;
  right: 9px;
  text-align: right;
  top: calc(17.00% - 3px);
  width: 64px;
}
.email-retrieval-access .x0012345-O4i9ae::placeholder {
  color: rgba(58,58,58,0.6);
}
.email-retrieval-access .x09092021-O4i9ae {
  background-color: transparent;
  border: 0;
  bottom: calc(36.00% - 6px);
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 12px;
  padding: 0;
  position: absolute;
  resize: none;
  right: 9px;
  text-align: right;
  width: 64px;
}
.email-retrieval-access .x09092021-O4i9ae::placeholder {
  color: rgba(58,58,58,0.6);
}
.email-retrieval-access .x09092022-O4i9ae {
  background-color: transparent;
  border: 0;
  bottom: 13px;
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 12px;
  padding: 0;
  position: absolute;
  resize: none;
  right: 9px;
  text-align: right;
  width: 64px;
}
.email-retrieval-access .x09092022-O4i9ae::placeholder {
  color: rgba(58,58,58,0.6);
}
.email-retrieval-access .your-acces-successful-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 441px;
  width: 317px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --cerise: rgba(242,49,136,1.0);
  --desert-storm: rgba(248,248,250,1.0);
  --endeavour: rgba(0,86,182,1.0);
  --glacier: rgba(125,176,225,1.0);
  --gossamer: rgba(9,149,128,1.0);
  --onyx: rgba(58,58,58,1.0);
  --royal-blue: rgba(60,111,240,1.0);
  --white: rgba(255,255,255,1.0);
}
